@import '../../Global/variables';


.account {

    &__content {
        margin-bottom: 325px;
        margin-top: 80px;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        width: 280px;
        margin-right: 155px;
        .sidebar {
            &__title {
                color: $secondary;
                font-size: 18px;
                margin-bottom: 28px;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 700;
                img {
                    margin-right: 50px;
                }
            }
            &__line {
                height: 1px;
                width: 100%;
                background-color: $secondary;
                margin-bottom: 28px;
            }
        }
    }
}



