$primary: #4174B8;
$secondary: #13559F;
$white: #ffffff;
$hoverBtn: #c6c7c8;

$point1800: 1800px;
$point1700: 1700px;
$point1550: 1550px;
$point1440: 1440px;
$point1350: 1350px;
$point1240: 1240px;
$point1120: 1120px;
$point950: 950px;
$point820: 820px;
$point750: 750px;
$point630: 630px;
$point550: 550px;
$point400: 400px;
$point330: 330px;